<ol class="postlist" style="counter-reset: start-from {{ postslist.length + 1 }}">
{% for post in postslist | reverse %}
	<li class="postlist__item{% if post.url == url %} postlist__item--active{% endif %}">
		<a href="{{ post.url | url }}" class="postlist__link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<span class="postlist__date">{{ post.date | dateFilter }}</span>
		{% for tag in post.data.tags %}
      {%- if tag != "post" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="postlist__tag tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
	</li>
{% endfor %}
</ol>
