---
layout: layouts/base.njk
templateClass: layout--post
---
<h1>{{ title }}</h1>
<div class="postedOn">
  <span>Posted on</span>
  <date>{{ date | dateFilter }}</date>
</div>

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
